<a 
	href="#"
	class="list-group-item-action pl-3 pr-3 pt-3 pb-3"
	(click)=onSelected()>
	<div class="card">
	  <div class="card-body">
			<div class="float-left">
				<h4 class="list-group-item-action-heading">{{ recipe.name }}</h4>
				<p class="list-group-item-action-text">{{ recipe.description }}</p>
			</div>
			<span class="float-right">
				<img 
					[src]="recipe.imagePath"
					alt="{{ recipe.name }}"
					class="img-responsive"
					style="max-height: 50px;">
			</span>
	  </div>
	</div>
</a>